// GLOBAL
////////////////////
a {
  color: $green-20;
}

// MARKDOWN content
////////////////////
.content {
  aside {
    font-size: 0.9rem;
    &.notice,
    &.success,
    &.warning {
      color: $white;
    }

    &:before {
      display: none;
    }
  }

  h1 {
    border-top: 0;
    border-bottom: 1px solid $gray-30;
    font-size: 2rem;
  }

  h2 {
    border-top: 0;
    border-bottom: 0;
    font-size: 1.5rem;
  }

  table {
    font-size: 0.9rem;
  }
}

// LEFT SIDEBAR
////////////////////
.toc-wrapper {
  border-right: 1px solid $gray-30;

  .toc-h1 {
    font-size: 0.9rem;
    font-weight: normal;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }

  .toc-h2 {
    font-size: 0.9rem;
    font-weight: normal;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
  }

  .search input {
    border-bottom: 0;
  }

  .toc-footer {
    border-top-color: $gray-30;

    li {
      padding-bottom: 0.3rem;
      padding-top: 0.3rem;

      a {
        font-size: 0.9rem;
        font-weight: normal;
      }
    }

    .img-license {
      display: block;
      width: 88px;
    }
  }
}

// RIGHT CODE SECTION
////////////////////
.page-wrapper {
  .lang-selector {
    padding: 1em 28px;
    border-bottom: 0;

    a {
      border-radius: 6px;
      font-weight: normal;
    }
  }
}
