.content {
  aside {
    font-size: 0.9em;
    &.notice,
    &.success,
    &.warning {
      color: $white;
    }

    &:before {
      display: none;
    }
  }

  h1 {
    border-top: 0;
    border-bottom: 1px solid $gray-30;
    font-size: 2em;
  }

  h2 {
    border-top: 0;
    border-bottom: 0;
    font-size: 1.5em;
  }
}

.toc-wrapper {
  border-right: 1px solid $gray-30;
  font-size: 0.9em;

  .toc-h1 {
    font-weight: normal;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }

  .toc-h2 {
    font-size: 1em;
    font-weight: normal;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
  }

  .search input {
    border-bottom: 0;
  }
}

table {
  font-size: 0.9em;
}
