// FONTS
////////////////////
%default-font {
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  line-height: 1.5;
}

%header-font {
  font-family: 'Montserrat' sans-serif;
  font-weight: 400;
}

%code-font {
  font-family: Menlo, Consolas, Monaco, "Lucida Console", "Console", "Liberation Mono", "Courier New", monospace, serif;
  font-size: 0.85rem;
  line-height: 1.5;
}
